# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
lib/
lib64/
wheels/

# model checkpoints / dataset / logging files
data/
checkpoints/
runs/

# Jupyter Notebook
.ipynb_checkpoints

# Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
pyvenv.cfg
.venv
pip-selfcheck.json
